{% extends 'GroupPortal/base.html' %}

{% block title %}Головна{% endblock %}

{% block content %}
    <h1>Ласкаво просимо до порталу групи</h1>
    <p>Це головна сторінка групового проекту. Тут можна розмістити новини, оголошення та інші розділи порталу.</p>
    <div class="card">
        <h3>Секції порталу</h3>
        <ul>
            <li>Головна сторінка</li>
            <li>Система автентифікації</li>
            <li>Форум</li>
            <li>Події та календар</li>
        </ul>
    </div>
{% endblock %}
